@import "tailwindcss";

@keyframes wiggle {
  0%, 100% {
    transform: rotate(-3deg);
    opacity: 1;
  }
  50% {
    transform: rotate(3deg);
    opacity: 0.5;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

/* Variables personalizadas si quieres */
:root {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
}
